html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    height: 100%;
    width: 100%;
    padding: 0; 
    margin: 0;
    display: grid;
    background-image: url();
    background-repeat: no-repeat;
    background-size: cover;
   }
  
.flex{
    display: flex;
}

::-webkit-scrollbar {
    width: 0;  
    background: transparent;
}



.main_con{
    width: 60%;
    color: white;
    position: relative;
    top: 10%;
    left: 20%;
    background-color: black;
}

.topic{
    text-align: center;
    font-size: 30px;
}

.con{
    margin-top: 10%;
    font-size: 10px;
    line-height: 25px;
    text-justify: inter-word;
    display: flex;
}